.topPhoto {
    width: 300px;
    height: 250px;
    position: relative;
}

.rounded {
    border-radius: 7% !important;
}

.imgProfile {
    width: 100px !important;
    height: 100px !important;
    position: absolute;
    top:0% !important;
    left: 10%;
    border: 1px white solid;
}

.nameProfile {
    font-size: 25px;
}

hr.new4 {
    border-top: 1px solid whitesmoke;
}

.grid-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    opacity: 0.8;
}

.linkButton{

    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: Helvetica, sans-serif;
    /*input has OS specific font-family*/
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    display: flex;
}
