.imdb-grid h1 {
    font-family: 'Abel', sans-serif;
    font-size:42px;
}

.imdb-grid-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}

.imdb-grid-element {
    margin-left: 80px;
    background: #353535;
    height: 500px!important;
    max-width: 1200px!important;
    animation: animateGrid 0.5s;
    overflow: hidden;
}

@keyframes animateGrid {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@media screen and (max-width: 720px) {
    .imdb-grid-content {
        grid-template-columns: auto auto;
    }

    .imdb-grid-element:nth-child(2n+2) {
        margin-right: 0;
    }

    .imdb-grid h1 {
        font-size:22px;
    }
}