::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black !important;
}

.topPhotoEdit {
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px white solid;
    left: 40%;
}